.header-right-space{
  border:1px solid black ; 
}
.header-centre-nav{
  border:1px solid red ; 
}
.left-nav-link-signup-contact{
  border:3px solid red ; 
}
.header-left-space{
  border:1px solid black ; 
}
  
  
