body{
    margin: 0 ;
    padding: 0 ;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.main-section-1{
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
    background: linear-gradient(230deg, #2461bb, #f533d4 , #f0dd10, #7ef8df);
    mix-blend-mode: luminosity;
    background-size: 400% 400%;
    animation: gradientAnimation 10s linear infinite;
    
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-section-2{
    position: relative;
    box-sizing: border-box ;
    width: 100vw ;
    height: 115vh ;
    background-color: #fff ;
    display: flex;
    transform: skewY(-10deg);
    transform-origin: top left ;
    z-index: initial ;
}
.main-section-2::after {
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 20%;
    transform: skewY(10deg); /* Opposite skew to create the straight line */
    transform-origin: bottom left ;
    background-color: #fff;
     /* Match the background color */   
}
.main-section-3{
    height: 210vh;
    background-color: #F6F9FC;
    
}
.main-section-3::after{
    transform: skewY(-10deg);
    transform-origin: bottom right ;
    background: inherit;
}
.main-section-4{
     position: relative;
    width: 100%;
    height: 165vh;
    background-color: #0A2540;
    transform: skewY(-10deg);
    transform-origin: top left;
}

.main-section-4::before {
    content: "";
    position: absolute;
    bottom:-60%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(10deg);
    transform-origin: bottom left;
    background-color: #fff;
}
.main-section-5{
    height: 170vh;
    background-color: #FFFFFF;

}
.main-section-6{
    box-sizing: border-box;
    height:280vh ; 
    background-color:#F6F9FC ;
}
.main-section-7{
    position: relative;
    box-sizing: border-box ;
    width: 100vw ;
    height: 115vh ;
    background-color: #0A2540;
    display: flex;
    transform: skewY(-10deg);
    transform-origin: top left ;
}

.main-section-8{
    position: relative;
   width: 100%;
   height: 165vh;
   background-color: #FFFFFF;
   transform: skewY(-10deg);
   transform-origin: top left;
}
.main-section-8::after{
    bottom: -60% ; 
    height : 110%;
    width: 100% ;
    transform: skewY(10deg);
    transform-origin: bottom left ;
}
.main-section-9 {
    position: relative;
    height: 90vh;
    background-color: #F6F9FC;
}

.main-section-10{
    width: 100% ;
    height: 135vh;
    background-color: #fff;
    position: relative; 
    transform: skewY(-10deg);
    transform-origin: top left ; 
    display: flex;  
    box-sizing: border-box;
}
.main-section-10::after{
    width: 100%;
    bottom: 0% ;  
    height : 40% ; 
    transform: skewY(10deg);
    transform-origin: bottom left  ;
    background-color: #fff;
    position: absolute;
}
.container {
    margin-left: 12vw;
    margin-right: 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; /* Three equal-width columns */
    background-color: transparent ; 
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 1 ;
  }
.column {
    display: grid ;
    box-sizing: border-box; 
    align-items: center
    
}

.header-nav{
border : 0px transparent  ;
background-color: transparent ;
font-family: 'Source Code Pro', monospace;
font-size: 15px;
font-weight: 600;
color: #fff;
letter-spacing: 0.2px;
}
.stripe-logo-nav{
width: 5rem;
height: 2rem;
margin-left:.8rem;
background-blend-mode: color-burn;}
.column a{
text-decoration: none ;
font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2px;
    background-color: transparent;
    text-align: center;
    color: #fff;
    margin: 0 ; 
    padding: 0 ;
}
.column :hover{
color: #E0CEF6;
}
.arrow {
font-family: 'Source Code Pro', monospace;
font-size: 15px;
font-weight: 600;
letter-spacing: 0.2px;
text-decoration: none;

}


